Repository adrshkr/mcp_server_openai: changes, and which pre-commit hooks are due for each by the changed paths.
All: fast-tests, mypy-core-fast

fast-tests:
  name: Fast Test Suite
  entry: make test-fast
  language: system
  pass_filenames: false
  stages:
  - push

mypy-core-fast:
  name: MyPy Core Files (Fast)
  entry: make mypy-check
  language: system
  pass_filenames: false

docs: update pre-commit config and README with final folder structure
  .pre-commit-config.yaml
  README.md
Due: none

chore(pre-commit): run mypy only on pre-push and drop mirror hook
  .pre-commit-config.yaml
Due: none

chore(pre-commit): make mypy manual-only to unblock pushes
  .pre-commit-config.yaml
Due: none

chore(pre-commit): re-enable mypy on pre-push after fixes
  .pre-commit-config.yaml
Due: none

fix(deploy): pass --project to gcloud and resolve cloud-run yaml path
  deployment/scripts/deploy-optimized.sh
Due: none

fix(deploy): standardize gcloud --project usage across scripts
  deployment/scripts/deploy-complete-system.sh
  deployment/scripts/deploy-document-generation.sh
  deployment/scripts/deploy-to-cloud-run.sh
  deployment/scripts/deploy-unified-system.sh
  deployment/scripts/deploy-unified-to-cloud-run.sh
Due: none

fix: resolve import dependencies and code quality improvements
  .assistant_resume_settings.json
  .assistant_resume_state.json
  README.md
  config/mypy.ini
  deployment/scripts/deploy-optimized.sh
  deployment/scripts/deploy-to-cloud-run.sh
  src/mcp_server_openai/api/fastapi_server.py
  src/mcp_server_openai/api/request_handlers.py
  src/mcp_server_openai/api/response_formatters.py
  src/mcp_server_openai/api/streaming_http.py
  src/mcp_server_openai/core/__init__.py
  src/mcp_server_openai/core/cache.py
  src/mcp_server_openai/core/config.py
  src/mcp_server_openai/core/error_handler.py
  src/mcp_server_openai/core/tool_registry.py
  src/mcp_server_openai/core/validation.py
  src/mcp_server_openai/enhanced_server.py
  src/mcp_server_openai/health.py
  src/mcp_server_openai/security.py
  src/mcp_server_openai/server.py
  tests/test_core_config.py
  tests/test_core_error_handler.py
  tests/test_streaming_http.py
  uv.lock
Due: fast-tests, mypy-core-fast

fix(deps): add FastAPI to project dependencies to satisfy tests
  pyproject.toml
  uv.lock
Due: none

chore(tdd-guard): add pytest reporter and config
  pyproject.toml
  uv.lock
Due: none

chore(tdd-guard): add npm test script and pytest root config
  package.json
Due: none

fix: resolve all make check errors and reorganize project structure
  Makefile
  scripts/testing/test-deployment.py
  scripts/testing/test-deployment.sh
  scripts/testing/test_all_endpoints.py
  scripts/testing/test_api_fixes.py
  scripts/testing/test_content_creation.py
  scripts/testing/test_current_server.py
  scripts/testing/test_imports.py
  scripts/testing/test_imports_quick.py
  scripts/testing/test_mcp_content_planning.py
  scripts/testing/test_unified_system.py
  scripts/testing/test_voice_endpoints.py
  scripts/utilities/preflight.py
  scripts/utilities/run_checks.py
  scripts/utilities/start_fastapi_server.py
  src/mcp_server_openai/api/fastapi_server.py
  src/mcp_server_openai/api/streaming_http.py
  src/mcp_server_openai/api/voice_interface.py
  src/mcp_server_openai/core/config.py
  src/mcp_server_openai/core/error_handler.py
  src/mcp_server_openai/core/logging.py
  src/mcp_server_openai/core/validation.py
  src/mcp_server_openai/health.py
  src/mcp_server_openai/monitoring/inline_display.py
  src/mcp_server_openai/notifications.py
  src/mcp_server_openai/tools/generators/free_content_creator.py
Due: fast-tests, mypy-core-fast

style: format test file line wrapping
  scripts/testing/test_unified_system.py
Due: fast-tests

docs: fix README installation and server documentation
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  fast-tests: any of: \.py$
  mypy-core-fast: any of: ^src/mcp_server_openai/(server|health|security|__init__|__main__)\.py$ and \.py$
